:root{
    --Flan: rgb(49, 16, 77);
    --Tan: #C09F80;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topo{
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: linear-gradient(#111, transparent);
    position: fixed;
    color: gray;
    font-size: 25px;
    
}

.data{
    color: white;
    text-shadow: 2px 2px 2px black ;
}

main{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, var(--Flan), var(--Tan) 99%);
}

.fonte{
    font-size: 38px;
    text-shadow: 2px 2px 2px gray;
    color: black;
    cursor: pointer;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    margin: 10%;
    padding: 5%;
    background-color: var(--Oxblood);
    border: gray 1px solid;
    border-radius: 25px;
    box-shadow: 2px 5px 10px black;
}

.text{
    width: 50%;
}

h1{
    color: white;
    text-shadow: 2px 2px 2px black ;
    font-size: 50px;
    margin-bottom: 20px;
}

form h1{
    font-size: 38px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

form hr{
    width: 100%;
    margin-bottom: 10%;
}

.inputs{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}